{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template   local_mxschool/alternating_button
    @package    local_mxschool
    @author     Cannon Caspar, Class of 2021 <jrdegreeff@mxschool.edu>
    @author     Charles J McDonald, Academic Technology Specialist <cjmcdonald@mxschool.edu>
    @copyright  2020 Middlesex School, 1400 Lowell Rd, Concord MA 01742 All Rights Reserved.
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    The purpose of this template is to render a button with ajax functionality to edit permissions on a report.

    Required context variables:
    - text | string | the text to display on the button
}}
<p style="font-weight:bold;text-decoration:underline;" class="mx-alternating-text{{ name }}{{ id }}" name="{{ userid }}" value="{{ package_name }}"></p>
<button
	   type="button" class="mx-alternating-button{{ name }}{{ id }} btn btn-primary d-print-none"
	   name="{{ name }}" value="{{ id }}">
</button>

{{# js }}
    require(['local_mxschool/alternating_button'], function(setup) {
        setup({{ id }}, {{ userid }}, '{{ name }}', {{ current_value }}, '{{ package_name }}');
    });
{{/ js }}
