{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template   local_mxschool/comment
    @package    local_mxschool
    @author     Cannon Caspar, Class of 2021 <jrdegreeff@mxschool.edu>
    @author     Charles J McDonald, Academic Technology Specialist <cjmcdonald@mxschool.edu>
    @copyright  2020 Middlesex School, 1400 Lowell Rd, Concord MA 01742 All Rights Reserved.
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    The purpose of this template is to render a button with ajax functionality to edit a comment on a report.

    Required context variables:
    - text | string | the text to display on the button
}}
<p class="mx-comment-text{{ userid }}"></p>
<button
	type="button" class="mx-comment-edit-button{{ userid }} btn btn-primary d-print-none"
	name="{{ userid }}">{{ edit_button_text }}
</button>
<textarea class="mx-comment-edit-area{{ userid }}">{{ comment_text }}</textarea><br>
<button type="button" class="mx-comment-save-button{{ userid }} btn btn-primary d-print-none" name="{{ userid }}">{{ save_button_text }}</button>

{{# js }}
    require(['local_mxschool/comment'], function(setup) {
        setup({{ userid }}, '{{ comment_text }}');
    });
{{/ js }}
