{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template   local_mxschool/legend_table
    @package    local_mxschool
    @subpackage checkin
    @author     Jeremiah DeGreeff, Class of 2019 <jrdegreeff@mxschool.edu>
    @author     Charles J McDonald, Academic Technology Specialist <cjmcdonald@mxschool.edu>
    @copyright  2019 Middlesex School, 1400 Lowell Rd, Concord MA 01742
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    The purpose of this template is to render a table which serves as a legend for the weekend calculator.

    Required context variables:
    - header | string | the text for the header
    - rows | array | data for each row with required string properties lefttext and righttext and optional string properties leftclass and rightclass
}}

<div class="legend-table mx-table">
    <table class="table-striped">
        <thead>
            <tr>
                <th colspan="2"> {{ header }} </th>
            </tr>
        </thead>
        <tbody>
            {{# rows }}
                {{> local_mxschool/legend_row }}
            {{/ rows }}
        </tbody>
    </table>
</div>
