<div>
    <form action="{{ url }}">
        {{# dropdowns }}
            {{{ . }}}
        {{/ dropdowns }}
        <input type="text" name="search" placeholder="{{ placeholder }}" value="{{ search }}">
        <input type="submit" value="{{ submit }}">
    </form>
    {{# addbutton }}
    <form action="{{ addurl }}">
        <input type="submit" value="{{ addtext }}">
    </form>
    {{/ addbutton }}
</div>

<div>
    {{{ table }}}
</div>
