<div id={{ id }}>
    <div class="mx-table-filter noprint">
        <form action="{{ url }}">
            {{# dropdowns }}
                {{{ . }}}
            {{/ dropdowns }}
            <input type="text" name="search" placeholder="{{ placeholder }}" value="{{ searchtext }}" />
            <input type="submit" value="{{ submit }}" />
        </form>
        {{# printbutton }}
            <input type="button" onclick="window.print()" value="{{ printtext }}" />
        {{/ printbutton}}
        {{# addbutton }}
            <form action="{{ addurl }}">
                <input type="submit" value="{{ addtext }}" />
            </form>
        {{/ addbutton }}
    </div>
    <div class="mx-table">
        {{{ table }}}
    </div>
</div>
