<form action="{{ url }}">
    {{# dropdowns }}
        {{{ . }}}
    {{/ dropdowns }}
    <input type="text" name="search" placeholder="{{ placeholder }}" value="{{ search }}">
    <input type="submit" value="{{ submit }}">
</form>

<div>
    {{{ table }}}
</div>
